In [49]:
#prepare dataframe of quantitative inputs to generate train_test split

In [50]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [51]:
df=pd.read_csv('quants_narrow_outlier_false.csv')
df = df.iloc[:,1:]
df.columns

Index(['duration', 'budget', 'gross', 'year', 'month', 'roi_outlier_ind'], dtype='object')

In [52]:
columns_to_keep=['duration','budget','gross','month']

In [53]:
df1 = df[columns_to_keep]

In [54]:
df1.head()

   duration  budget  gross  month
0        78    2500  15610      3
1       100    2500     51     10
2        80    5000  18389      4
3        75    5000  16743      8
4        79    7000     74     10

In [55]:
genre = pd.read_csv('genre_ary.csv')
genre = genre.iloc[:,1:]
genre
lang = pd.read_csv('language_ary.csv')
lang = lang.iloc[:,1:]

In [56]:
df_X = df1.join(genre).join(lang) #merges based on index location, which is desired

In [57]:
df_X=pd.read_csv('quants_narrow_outlier_false.csv')
df_X=df_X.drop(['Unnamed: 0','year'],axis=1)
df_X

      duration     budget       gross  month  roi_outlier_ind
0           78       2500       15610      3            False
1          100       2500          51     10            False
2           80       5000       18389      4            False
3           75       5000       16743      8            False
4           79       7000          74     10            False
...        ...        ...         ...    ...              ...
7476       135  275000000   392924807      5            False
7477       169  300000000   960996492      5            False
7478       120  300000000   681871991     11            False
7479       152  317000000  1332540187     12            False
7480       149  321000000  2048359754      4            False

[7481 rows x 5 columns]

In [58]:
df_X = df_X.join(genre)

In [59]:
df_X=df_X.join(lang)

In [60]:
df_X

,duration,budget,gross,month,roi_outlier_ind,action,adventure,animation,biography,comedy,...,chinese,english,french,german,italian,japanese,korean,other,russian,spanish
0,78,2500,15610,3,False,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,100,2500,51,10,False,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,80,5000,18389,4,False,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,75,5000,16743,8,False,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,79,7000,74,10,False,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7476,135,275000000,392924807,5,False,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7477,169,300000000,960996492,5,False,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7478,120,300000000,681871991,11,False,1,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7479,152,317000000,1332540187,12,False,0,1,1,0,1,...,0,1,0,0,0,0,0,0,0,0
7480,149,321000000,2048359754,4,False,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [61]:
df_X.to_csv('wide_quants.csv')

In [62]:
# s=pd.qcut(df_X["gross"], q=3, labels=['1','2','3'])

In [63]:
y=df_X["gross"]

In [64]:
# df_X['gross']=s
# df_X.head()

In [65]:
df_X = df_X.drop(['gross'], axis=1)

In [73]:
df_X.columns

Index(['duration', 'budget', 'month', 'roi_outlier_ind', 'action', 'adventure',
       'animation', 'biography', 'comedy', 'crime', 'drama', 'family',
       'fantasy', 'history', 'horror', 'music', 'musical', 'mystery',
       'romance', 'scifi', 'sport', 'thriller', 'war', 'western', 'arabic',
       'chinese', 'english', 'french', 'german', 'italian', 'japanese',
       'korean', 'other', 'russian', 'spanish'],
      dtype='object')

In [67]:
X_train, X_test, y_train, y_test = train_test_split(df_X, y, random_state=42)

In [68]:
model = RandomForestRegressor()

In [69]:
model = model.fit(X_train, y_train)

In [70]:
y_pred=model.predict(X_test)

In [71]:
model.score(df_X, y)

0.8927184690251382

In [77]:
model.predict([[120,500000000,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0]])

array([1.45285252e+09])

In [81]:
import joblib

In [83]:
joblib.dump(model, "model.joblib")

['model.joblib']